@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* all */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.text_align_center {
  text-align: center;
}

.mb_10 {
  margin-bottom: 10px;
}

.mt_30 {
  margin-top: 30px;
}

.noto_font_400 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.noto_font_300 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}


/* App.js */
.App {
  width: 100%;
}


/* WelcomeMain.tsx */
.dancing_font {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #074d7f;
  padding-top: 100px;
  animation: blink-effect 1.5s step-end infinite;
}

@keyframes blink-effect {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.95;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}

.font_color_red_noto {
  color: rgb(211 58 0);
  font-weight: 600;
  font-size: 16.5px;
}
.font_color_red_noto:hover {
  color:#0047c1;
}

.wrap {
  padding: 30px;
}

.icon_right_arrow {
  width: 30px;
  height: 30px;
  position: relative;
  left: 10px;
  top: 10px;
}

.new_story {
  margin: 20px;
  width: 200px;
  height: 200px;
  border: 1.5px solid #074d7f80;
  float: left;
  border-radius: 25px;
  line-height: 190px;
  font-size: 25px;
  color: white;
}

.st1 {
  background-image: url('./img/img_christmasBalls_1920.jpg');
  background-size: cover;
}

.st2 {
  background-image: url('./img/img_antiqueBook_1920.jpg');
  background-size: cover;
}

.st3 {
  background-image: url('./img/img_buns_1920.jpg');
  background-size: cover;
}

.btn_padding {
  padding-bottom: 50px;
}


/* Header.tsx */
.icon_plus {
  width: 30px;
}


/* ProjectDetails.tsx */
.proj_title {
  position: relative;
  top: 10px;
  padding-bottom: 30px;
  overflow: hidden;
  height: 40px;
}

.proj_date {
  position: relative;
  bottom: -20px;
}


/* ProjectCreate.tsx */
.btn_feeling {
  width: 35px;
  height: 35px;
}


/* ProjectCreate.tsx & ProjectDetail.tsx */
.title_input {
  width: 415px;
  height: 35px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  background-color: #fefefe;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

.content_input {
  width: 415px;
  height: 250px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  background-color: #fefefe;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

.date_right {
  text-align: right;
  padding-right: 5px;
  margin-top: 5px;
  font-size: 13px;
}

.create_btn {
  margin: 5px;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fefefe;
}

.create_btn:hover {
  background-color: #074d7f;
  color: whitesmoke;
}


/* ProjectDetail.tsx */
.inner_line {
  border: 1px solid #ccc;
  padding: 20px;
  background-image: linear-gradient(
    rgb(255 255 255 / 39%), rgb(169 169 169 / 60%)
  ),url('./img/img_oceanWithGirl_1920.jpg');
  background-size: cover;
}

.modi_del_btn {
  margin: 20px 5px 0px;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #c4c4c4c9;
}

.modi_del_btn:hover {
  background-color: #074d7f;
  color: whitesmoke;
}
