@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* all */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

/* App.js */


/* WelcomeMain.tsx */
.dancing_font {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #074d7f;
  padding-top: 100px;
  animation: blink-effect 1.5s step-end infinite;
}

@keyframes blink-effect {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.95;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}

.font_color_red {
  color: rgb(211 58 0);
  font-weight: 600;
}
.font_color_red:hover {

}

.wrap {
  padding: 30px;
}

.icon_right_arrow {
  width: 30px;
  height: 30px;
}

.img_blue_ocean {
  width: 200px;
  height: 200px;
}
